.card {
	display: flex;
	flex-direction: column;
	width: 135px;
}
.card_title {
	text-align: center;
	margin-top: 0.5rem;
	font-weight: 600;
}

.card:hover {
	transform: translateY(-17px);
	transition: all 0.5s;
	color: #2f69fd;
	z-index: 1;
}

.active {
	transform: translateY(-17px);
	color: #2f69fd;
}
.card_image {
	width: 150px;
	height: 120px;
	object-fit: cover;
	border-radius: 25px;
}

@media (min-width: 440px) {
	.card {
		width: 170px;
	}
	.card_image {
		width: 170px;
		height: 140px;
	}
}
@media (min-width: 540px) {
	.card {
		width: 200px;
	}
	.card_image {
		width: 200px;
		height: 160px;
	}
}
@media (min-width: 600px) {
	.card {
		width: 170px;
	}
	.card_image {
		width: 170px;
		height: 135px;
	}
}
@media (min-width: 680px) {
	.card {
		width: 180px;
	}
	.card_image {
		width: 180px;
		height: 140px;
	}
}
@media (min-width: 750px) {
	.card {
		width: 160px;
	}
	.card_image {
		width: 160px;
		height: 110px;
	}
}
@media (min-width: 850px) {
	.card {
		width: 175px;
	}
	.card_image {
		width: 175px;
		height: 140px;
	}
}
@media (min-width: 900px) {
	.card {
		width: 185px;
	}
	.card_image {
		width: 185px;
		height: 140px;
	}
}
@media (min-width: 940px) {
	.card {
		width: 165px;
	}
	.card_image {
		width: 165px;
		height: 130px;
	}
}
@media (min-width: 1050px) {
	.card {
		width: 175px;
	}
	.card_image {
		width: 175px;
		height: 140px;
	}
}
@media (min-width: 1150px) {
	.card {
		width: 165px;
	}
	.card_image {
		width: 165px;
		height: 140px;
	}
}
@media (min-width: 1250px) {
	.card {
		width: 175px;
	}
	.card_image {
		width: 175px;
	}
}
@media (min-width: 1350px) {
	.card {
		width: 180px;
	}
	.card_image {
		width: 180px;
	}
}
@media (min-width: 1500px) {
	.card {
		width: 190px;
	}
	.card_image {
		width: 190px;
		height: 150px;
	}
}
