.card {
	display: flex;
	flex-direction: column;
	width: 180px;
}
.card_title {
	text-align: center;
	margin-top: 0.5rem;
	font-weight: 600;
}

.card:hover {
	transform: translateY(-17px);
	transition: all 0.5s;
	color: #2f69fd;
}

.active {
	transform: translateY(-17px);
	color: #2f69fd;
}
.card_image {
	width: 180;
	height: 140px;
	object-fit: cover;
	border-radius: 25px;
}
