.mainCity_container {
	width: 100%;
}
.mainCity_title {
	font-size: 1.6rem;
	margin-top: 0.5rem;
}
.mainCity_list {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
	align-items: center;
}
