.page {
	display: flex;
}

.container {
	flex: 6;
}

.days {
	display: flex;
	width: 100%;
	gap: 10px;
	flex-wrap: wrap;
	padding: 0 2rem;
	width: 100%;
}
.graph_container {
	display: flex;
	flex-wrap: wrap;
	padding: 0 2rem;
}
