.navBar {
	background-color: #ffffff;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	border-bottom: 1.5px solid #e6e6e6;
}

.date {
	display: flex;
	flex-direction: column;
}

.date_color {
	color: #2f69fd;
	font-weight: 600;
	font-size: 1.1rem;
}

.search {
	background-color: #eef2f3;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	display: flex;
	gap: 8px;
	align-items: center;
}

.search input {
	border: none;
	background-color: transparent;
	width: 170px;
	font-size: 1rem;
}

.search input:focus {
	outline: none;
}

.enter_icon:hover {
	cursor: pointer;
}

.navbar_right {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-right: 50px;
}

.icon_navbar {
	position: relative;
	background-color: #eef2f3;
	width: 35px;
	height: 35px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon_navbar_hover:hover {
	cursor: pointer;
}

.use_location_message {
	position: absolute;
	top: 40px;
	background-color: white;
	border: 1px solid #eef2f3;
	width: fit-content;
	border-radius: 5px;
	padding: 0.2rem 1rem;
}

.profile_list {
	position: absolute;
	top: 40px;
	right: 8px;
	width: 150px;
	background-color: white;
	border: 1px solid #eef2f3;
	display: flex;
	flex-direction: column;
}

.profile_name {
	padding: 0.5rem 1rem;
}
.option {
	padding: 0.5rem 1rem;
}

.option:hover {
	color: #2f69fd;
	background-color: #eaeaea;
	cursor: pointer;
}

.x {
	margin-top: 0.5rem;
	margin-right: 0.5rem;
	align-self: flex-end;
	cursor: pointer;
}
